body {
    background-color: #1b1c28;
    --color-black: #0E111B;
    --color-grey: rgba(255, 255, 255, .05);
    --color-light-grey: rgba(255, 255, 255, .6)
}

input[type=text] {
    background-color: #bbbbbb;
    padding: 0 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;

}

.block {
    position: relative;
    display: block;
    max-width: 700px;
    margin: 0 auto;
}

.btn {
    height: 16px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-black);
    cursor: pointer;
    background-color: #FDC000;
}

.root {
    height: 720px;
    position: relative;
}

.area {
    position: relative;
    width: auto;
    max-width: 700px;
    /*height: 80px;*/
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    margin: 50px auto 50px;
    background-color: lightslategray;
    box-sizing: border-box;
}


.management {
    margin-bottom: 10px;
}

.management .input_area {
    display: flex;
    height: 50px;
    gap: 4px;
    justify-content: center;
    align-items: center;

}
.management .input_area span{
    /*width: 50px;*/
}
.management .input_area input{
    max-width: 160px;
}
.management .input_area input:first-of-type {
    width: 65px;
}

.management .input_area input::placeholder {

}

.mutation-state {
    margin-top: 20px;
    height: 50px;
}

.mutation-state div {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-black);
}

.management div p {
    display: inline;
    font-weight: 500;
}


.list {
    margin-top: 10px;
    max-height: 600px;
    overflow: auto;
}

.list .post-item {
    height: 100px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-grey);
}

.list .post-item:hover {
    background-color: var(--color-light-grey);
    cursor: pointer;
}

.list .post-item input[type=text] {
    width: 100%;
}

.list .post-item .id {
    width: 50px;
}

.list .post-item > div:last-child {
    width: 110px;
}

.list .post-item .contents {
    flex-grow: 1;
}

.list .post-item .contents > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.list .post-item .contents .box > div {
    width: 70px;
}

.list .post-item .contents div:nth-child(2) {
    border-top: 1px solid var(--color-grey);
}


.info {
    height: 300px;
}

.info .line {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}

.info .line > div {
    width: 100px;
}

.info button {
    margin-top: 50px;
}
/*not-found*/
.not-found{
    height: 500px;
    text-align: center;
    padding: 0;
}
.not-found p {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-black);

}

